github "kPherox/Swifter" "master"
github "kishikawakatsumi/KeychainAccess"
github "Clipy/KeyHolder"
github "kPherox/Magnet" "master"
github "kPherox/LaunchAtLogin" "master"
github "twitter/twitter-text"
